@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Poppins:wght@400;600&display=swap');

.forms-container{
    /* display: flex; */
    
    align-items: center;
    /* justify-content: space-between; */
}
.client-name{
     font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
/* form input{
    width:100%;
    color:white;
    background-color: #000000;
    border-radius: 8px;
    height: 56px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: none;

} */
#next{
    background-color:#1565D8;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
.meeting-text{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.text-area{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #000000;
    border: none;

}
oditEdito{
    color:white;
}